<?xml version="1.0" encoding="utf-8"?>
<prefs>
	<stationname>DapperFM</stationname>
	<weburl>http://www.dapperfm.co.uk</weburl>
	<streamurl>http://93.89.82.244</streamurl>
	<streamport>8096</streamport>
	<streamfolder>/</streamfolder>
	<streamtype>shoutcast</streamtype>
	<twitterusername>dapperfm</twitterusername>
	<toggletime>1800</toggletime><!--How many seconds to toggle players (cleans memory)-->
	<buffertime>3000</buffertime><!--How many miliseconds to hols in buffer memory-->
	<adserver>http://www.probert.me.uk/ads/proads/ads.xml</adserver>
	<header>
		<![CDATA[ 
		<h1>Dapper <em style='color:#5E7E19;'>FM</em></h1><h2>Call us now on (01685) 814848</h2>
		]]>
	</header>
</prefs>