<?xml version="1.0" encoding="utf-8"?>
<prefs>
	<stationname>DapperFM</stationname>
	<weburl>http://www.dapperfm.co.uk</weburl>
	<streamurl>http://93.89.82.244</streamurl>
	<streamport>8096</streamport>
	<twitterusername>dapperfm</twitterusername>
	<header>
		<![CDATA[ 
		<h1 style="color: #025682;">Dapper <em style='color:#5E7E19;'>FM</em></h1><h2>Call us now on (01685) 814848</h2>
		]]>
	</header>
</prefs>