<?xml version="1.0" encoding="utf-8"?>
<prefs>
	<stationname>iRock109</stationname>
    <versionNumber>1.0</versionNumber>
	<weburl>http://www.irock109.com/</weburl>
	<streamurl>http://cp6.digistream.info</streamurl>
	<streamport>20366</streamport>
	<streamfolder>/</streamfolder>
	<streamtype>shoutcast</streamtype>
	<twitterusername>iROCK109</twitterusername>
	<toggletime>1800</toggletime><!--How many seconds to toggle players (cleans memory)-->
	<buffertime>3000</buffertime><!--How many miliseconds to hols in buffer memory-->
	<adserver>http://shout-on-air.probert.me.uk/adserver/ads.xml</adserver>
	<header>
		<![CDATA[ 
		<h1>iROCK109</h1><h2>Classic Rock and More</h2>
		]]>
	</header>
</prefs>