<?xml version="1.0" encoding="utf-8"?>
<prefs>
	<stationname>Swiss Jazz</stationname>
	<weburl>http://www.radioswissjazz.ch/en/webradio</weburl>
	<streamurl>http://zlz-stream12.streaming.init7.net</streamurl>
	<streamport>80</streamport>
	<streamfolder>/1/rsj/mp3_128</streamfolder>
	<streamtype>icecast</streamtype>
	<twitterusername>Swiss+Jazz</twitterusername>
	<header>
		<![CDATA[ 
		<h1 style="color: #025682;">Swiss <em style='color:#5E7E19;'>Jazz</em></h1><h2>Nice and easy does it!</h2>
		]]>
	</header>
</prefs>