<?xml version="1.0" encoding="utf-8"?>
<prefs>
	<stationname>LightFM</stationname>
	<weburl>http://www.lightfm.net/</weburl>
	<streamurl>http://radio.hnsystems.net</streamurl>
	<streamport>7000</streamport>
	<streamfolder>/</streamfolder>
	<streamtype>shoutcast</streamtype>
	<twitterusername>lightfmradio</twitterusername>
	<bufferflush>1800</bufferflush>
	<header>
		<![CDATA[ 
		<h1>Light<span style='color:#00B0F1;'>FM</span></h1><h2>Insperation for the soul</h2>
		]]>
	</header>
</prefs>