<?xml version="1.0" encoding="utf-8"?>
<prefs>
	<stationname>ANAZ Radio</stationname>
	<weburl>http://www.anazradio.com/</weburl>
	<streamurl>http://204.232.167.18</streamurl>
	<streamport>8000</streamport>
	<streamfolder>/</streamfolder>
	<streamtype>shoutcast</streamtype>
	<twitterusername>ANAZRadio</twitterusername>
	<bufferflush>1800</bufferflush>
	<header>
		<![CDATA[ 
		<h1 style="color: #F40003;">ANAZ <em style='color:#0A2C7C;'>Radio</em></h1><h2>Voice of South Azerbaijan!</h2>
		]]>
	</header>
</prefs>