<?xml version="1.0" encoding="utf-8"?>
<prefs>
	<stationname>Brap.FM</stationname>
    <versionNumber>2.2</versionNumber>
	<weburl>http://www.brap.fm</weburl>
	<streamurl>http://delicious.wavestreamer.com</streamurl>
	<streamport>4626</streamport>
	<streamfolder>/</streamfolder>
	<streamtype>shoutcast</streamtype>
	<twitterusername>brapradio</twitterusername>
	<bufferflush>3600</bufferflush>
    <adserver>http://shout-on-air.probert.me.uk/adserver/ads.xml</adserver>
	<header />
</prefs>
